{{ define "main" }}
    <div class="container">
      <div class="product-layout">
      <ul class="menu-item">
        <li class="link">Solar Pathway Lights</li>
        <li class="link">Solar String Lights</li>
        <li class="link">Solar Deck & Wall Lights</li>
        <li class="link">Solar Hanging Lights</li>
        <li class="link">Patio Heater</li>
        <li class="link">Ice Makers</li>
      </ul>

      <div class="con-right">
          <div id="content-right">
            <h3></h3>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/Solar Pathway Lights/Gigalumi Lantern Style Solar Pathway Lights (Set of 2).jpg" alt=""><p>Gigalumi Lantern Style Solar Pathway Lights (Set of 2)</p></li>
              <li  class="product-item"><img src="/images/Solar Pathway Lights/Gigalumi Soalr Pathway Lights with Stained Glass (Set of 3).jpg" alt=""><p>Gigalumi Soalr Pathway Lights with Stained Glass (Set of 3)</p></li>
              <li  class="product-item"><img src="/images/Solar Pathway Lights/Gigalumi Solar Classic Design Pathway Lights (set of 4).jpg" alt=""><p>Gigalumi Solar Classic Design Pathway Lights (set of 4)</p></li>
              <li  class="product-item"><img src="/images/Solar Pathway Lights/Gigalumi Solar Lantern PathwayHanging Lights (Set of 8).jpg" alt=""><p>Gigalumi Solar Lantern PathwayHanging Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/Solar Pathway Lights/Gigalumi Solar Mini Pathway Lights – Black Finish – Warm White (Set of 12).jpg" alt=""><p>Gigalumi Solar Mini Pathway Lights - Black Finish - Warm White (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/Solar Pathway Lights/Gigalumi Solar Pathway Light with Glass Shade – Warm White Light (Set of 6).jpg" alt=""><p>Gigalumi Solar Pathway Light with Glass Shade - Warm White Light (Set of 6)</p></li>
              <li  class="product-item"><img src="/images/Solar Pathway Lights/Gigalumi Solar Pathway Lights with Glass Shade (Set of 6).jpg" alt=""><p>Gigalumi Solar Pathway Lights with Glass Shade (Set of 6)</p></li>
              <li  class="product-item"><img src="/images/Solar Pathway Lights/Gigalumi Solar Small Size  Mini Pathway Lights – Black Finish – Cool White (Set of 12).jpg" alt=""><p>Gigalumi Solar Small Size  Mini Pathway Lights - Black Finish - Cool White (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/Solar Pathway Lights/Gigalumi Stainless Steel Solar Pathway Lights with Glass Shade (Set of 8).jpg" alt=""><p>Gigalumi Stainless Steel Solar Pathway Lights with Glass Shade (Set of 8)</p></li>
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/Solar String Lights/GIGALUMI Halloween String Lights , 40 LED 15ft Purple Spider String Lights Battery Operated 8 Lighting Modes Halloween Lights.jpg" alt=""><p>GIGALUMI Halloween String Lights , 40 LED 15ft Purple Spider String Lights Battery Operated 8 Lighting Modes Halloween Lights</p></li>
              <li  class="product-item"><img src="/images/Solar String Lights/Gigalumi Pineapple String Light – Battery Powered (10-LED）.jpg" alt=""><p>Gigalumi Pineapple String Light - Battery Powered (10-LED)</p></li>
              <li  class="product-item"><img src="/images/Solar String Lights/Gigalumi Solar Fairy String Lights – Warm White (Set of 2).jpg" alt=""><p>Gigalumi Solar Fairy String Lights - Warm White (Set of 2)</p></li>
              <li  class="product-item"><img src="/images/Solar String Lights/Gigalumi Solar Flower String Lights – Multi-Color (Set of 2).jpg" alt=""><p>Gigalumi Solar Flower String Lights - Multi-Color (Set of 2).jpg</p></li>
              <li  class="product-item"><img src="/images/Solar String Lights/Gigalumi Solar Rope Lights – Multi-Color (Set of 2).jpg" alt=""><p>Gigalumi Solar Rope Lights - Multi-Color (Set of 2)</p></li>
              <li  class="product-item"><img src="/images/Solar String Lights/Gigalumi Solar Rope Lights – Warm White Light (Set of 2).jpg" alt=""><p>Gigalumi Solar Rope Lights - Warm White Light (Set of 2)</p></li>
              <li  class="product-item"><img src="/images/Solar String Lights/SOWSUN Halloween Lights Outdoor 21 LED Halloween String Lights.jpg" alt=""><p>SOWSUN Halloween Lights Outdoor 21 LED Halloween String Lights</p></li>
            
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/Solar Deck & Wall Lights/Gigalumi Garden Solar Wall & Fence Lights (Set of 8).jpg" alt=""><p>Gigalumi Garden Solar Wall & Fence Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/Solar Deck & Wall Lights/Gigalumi Solar Deck and Wall Lights – Cool White Light (Set of 12).jpg" alt=""><p>Gigalumi Solar Deck and Wall Lights - Cool White Light (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/Solar Deck & Wall Lights/Gigalumi Solar Deck Lights – Warm White Light (Set of 12).jpg" alt=""><p>Gigalumi Solar Deck Lights - Warm White Light (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/Solar Deck & Wall Lights/Gigalumi Solar Garden Wall & Fence Lights (Set of 4).jpg" alt=""><p>Gigalumi Solar Garden Wall & Fence Lights (Set of 4)</p></li>
              <li  class="product-item"><img src="/images/Solar Deck & Wall Lights/Gigalumi Solar Landscape and Deck Lights – Cool White (Set of 12).jpg" alt=""><p>Gigalumi Solar Landscape and Deck Lights - Cool White (Set of 12)</p></li>
              <li  class="product-item"><img src="/images/Solar Deck & Wall Lights/Gigalumi Solar Landscape and Deck Lights (Set of 8).jpg" alt=""><p>Gigalumi Solar Landscape and Deck Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/Solar Deck & Wall Lights/Solar Fence Lights with Carved Pattern- Warm White（Set of 8）.jpg" alt=""><p>Solar Fence Lights with Carved Pattern- Warm White(Set of 8)</p></li>
              <li  class="product-item"><img src="/images/Solar Deck & Wall Lights/Solar Post Lights with 2 Size of Bases- Warm White（Set of 2）.jpg" alt=""><p>Solar Post Lights with 2 Size of Bases- Warm White(Set of 2)</p></li>
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/Solar Hanging Lights/Gigalumi Colorful Ball Shape Solar Hanging Lights (Set of 8).jpg" alt=""><p>Gigalumi Colorful Ball Shape Solar Hanging Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/Solar Hanging Lights/Gigalumi Cool White Ball Shape Solar Hanging Lights (Set of 4).jpg" alt=""><p>Gigalumi Cool White Ball Shape Solar Hanging Lights (Set of 4)</p></li>
              <li  class="product-item"><img src="/images/Solar Hanging Lights/Gigalumi Solar Hanging Lights (Set of 4).jpg" alt=""><p>Gigalumi Solar Hanging Lights (Set of 4)</p></li>
              <li  class="product-item"><img src="/images/Solar Hanging Lights/Gigalumi Solar Lantern Pathway Hanging Lights (Set of 8).jpg" alt=""><p>Gigalumi Solar Lantern Pathway Hanging Lights (Set of 8)</p></li>
              <li  class="product-item"><img src="/images/Solar Hanging Lights/Gigalumi Solar Mason Jar Hanging Lights (Set of 6).jpg" alt=""><p>Gigalumi Solar Mason Jar Hanging Lights (Set of 6)</p></li>
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/Patio Heater/Pamapic 1500W Wall-Mounted Indoor Outdoor Heater  Electric Patio Infrared Heater with Remote Control.jpg" alt=""><p>Pamapic 1500W Wall-Mounted Indoor Outdoor Heater  Electric Patio Infrared Heater with Remote Control</p></li>
              <li  class="product-item"><img src="/images/Patio Heater/Propane Patio Heater - Black.jpg" alt=""><p>Propane Patio Heater - Black</p></li>
              <li  class="product-item"><img src="/images/Patio Heater/Propane Patio Heater - Stainless Steel.jpg" alt=""><p>Propane Patio Heater - Stainless Steel</p></li>
              <li  class="product-item"><img src="/images/Patio Heater/Pyramid Flame Propane Patio Heater - Black.jpg" alt=""><p>Pyramid Flame Propane Patio Heater - Black</p></li>
              <li  class="product-item"><img src="/images/Patio Heater/Pyramid Flame Propane Patio Heater - Stainless Steel.jpg" alt=""><p>Pyramid Flame Propane Patio Heater - Stainless Steel</p></li>
            </ul>
            <ul class="product-box hide">
              <li  class="product-item"><img src="/images/Ice Makers/Euhomy Commercial Ice Maker 100Lbs day.jpg" alt=""><p>Euhomy Commercial Ice Maker 100Lbs day</p></li>
              <li  class="product-item"><img src="/images/Ice Makers/Euhomy Countertop Ice Maker 26 Lbs day.jpg" alt=""><p>Euhomy Countertop Ice Maker 26 Lbs day</p></li>
              <li  class="product-item"><img src="/images/Ice Makers/Euhomy Portable Compact Ice Maker 26Lbs 24H Red.jpg" alt=""><p>Euhomy Portable Compact Ice Maker 26Lbs 24H Red</p></li>
              <li  class="product-item"><img src="/images/Ice Makers/Euhomy Portable Compact Ice Maker Grey 26Lbs 24H.jpg" alt=""><p>Euhomy Portable Compact Ice Maker Grey 26Lbs 24H</p></li>
              <li  class="product-item"><img src="/images/Ice Makers/Euhomy Portable Ice Maker 40Lbs day Grey.jpg" alt=""><p>Euhomy Portable Ice Maker 40Lbs day Grey</p></li>
            </ul>
          </div>
      </div>
    </div>
    </div>
{{ end }}
