<div class="banner">
    <img class="banner-img-mobile" src="/images/index_banner.jpg" alt="">
    <img class="banner-img-pc" src="/images/index_banner_pc.jpg" alt="">
    <div class="banner-desc">
        <p class="container">NINGBO HEYME INFORMATION TECHNOLOGY CO., LTD is committed to become a brilliant brand operator in order to assist and lead the Chinese consumer brand globalization</p>
    </div>
</div>

<div class="company-profile">
    <div class="container">
        <div class="company-profile-desc">
            <img src="/images/index_img1.jpg" alt="">
            <div class="company-profile-desc-cmp">
                <h2>Company Profile </h2>
                <p>Ningbo Solar Import & Export Co., Ltd. is a wholly-owned subsidiary of Winpex Group (one of the largest export enterprises in Ningbo). It's a professional multinational e-commerce operation company, with an office area of 2,000 square meters, which has established for more than 3 years.
                </p>
            </div>
        </div>
        <ul class="company-profile-fun">
            <li>
                <div class="company-profile-fun-icon">
                    <i class="iconfont">&#xe606;</i>
                </div>
                <p style="width: 120px;">Promotion and Operation</p>
            </li>
            <li>
                <div class="company-profile-fun-icon">
                    <i class="iconfont">&#xe667;</i>
                </div>
                <p style="width: 120px;">Product Research and Development</p>
            </li>
            <li>
                <div class="company-profile-fun-icon">
                    <i class="iconfont yellow">&#xe627;</i>
                </div>
                <p style="width: 120px;">Patent</p>
            </li>
            <li>
                <div class="company-profile-fun-icon">
                    <i class="iconfont ">&#xe662;</i>
                </div>
                <p style="width: 120px;">Integration of Overseas esources</p>
            </li>
        </ul>
    </div>

</div>

<div class="company-rele">
    <div class="container">
        <h2>Company Related</h2>
        <div class="company-rele-content">
            <a class="company-rele-content-item " href="/about">
                <img src="/images/index_jtbj.jpg" alt="">
                <p>Group Background</p>
            </a>
            <a class="company-rele-content-item" href="/about">
                <img src="/images/index_qywh.jpg" alt="">
                <p>Company Culture</p>
            </a>
        </div>
    </div>

</div>