{{ define "main" }}
<div class="about-banner">
    <img class="about-banner-img" src="/images/about_banner.jpg" alt="">
    <div class="about-banner-desc">
        <p>About Solar Tech Import & Export</p>
    </div>
</div>

<div class="about-content">
    <ul class="about-content-nav">
        <li class="active" style="width: 200px;">Company Culture</li>
        <li style="width: 200px;">Group Background</li>
    </ul>
    <div class="about-content-box show">
        <div class="container">
            <div class="heyme-culture">
                <h4>The Spirit of Enterprise</h4>
                <p>The spirit of enterprise is ' building strong brands, pursuing the excellence '. With the mission of helping Chinese consumer brands go global, we are committed to becoming an excellent brand operator. By focusing on the cross-border brand promotion and operation of consumer goods, product research and development, patents, and overseas resource integration, Heyme has replaced the traditional OEM order model with a brand-centered pre-stocking export model and keeps contributing to Ningbo's export transformation. Our corporate slogan is ' be happy at work, be capable of growing '.
                </p>
            </div>
            <div class="heyme-value">
                <h4>Our corporate value: nothing hinder the progress of the success</h4>
                <div class="heyme-value-content">
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe67d;</i>
                        </div>
                        <h4>Encourage Integrity</h4>
                        <p>We also encourage to conduct decently and faithfully, to practice what you preach, to be the same as inside and outside.</p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe604;</i>
                        </div>
                        <h4>Learning and Sharing</h4>
                        <p>Having a good learning method, not sticking to the content itself, being good at essential systematic learning, and forming one's own system. Instilling the knowledge to others from a systematic perspective.
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe644;</i>
                        </div>
                        <h4>Effective Communication</h4>
                        <p>Abiding by the principles of face-to-face and efficient communication, taking the matter on its merits, we are expected to communicate calmly and moderately, be good at coaching, and have superb and convincing communication skills. 
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe615;</i>
                        </div>
                        <h4>Methodology</h4>
                        <p>Being able to understand the underlying logic of the methodology and use it to guide work, being good at discovering/gaining insights/defining problems from various working scenarios and extracting working methods to guide practice.
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe649;</i>
                        </div>
                        <h4>Collaboration</h4>
                        <p>Being a good team player with positive mindset and taking the whole situation into consideration to achieve the goal together. Having strong overall planning ability, and taking the initiative to organize things and promote department collaboration. Proactively propose solutions to improve the overall efficiency and enhance the implementation.
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe60f;</i>
                        </div>
                        <h4>Execution</h4>
                        <p>Being able to update the implementation strategy by the constant evaluation and summary of previous projects. Having a clear mind at work. Quickly integrating multiple resources and completing more working goals beyond the work plan. 
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe949;</i>
                        </div>
                        <h4>Proactive Commitment</h4>
                        <p>As one of members, we should be passionate at work, being proactive, as well as being willing to bear more responsibilities and make positive impacts on others.
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe613;</i>
                        </div>
                        <h4>Ourage to Challenge</h4>
                        <p>Dare to jump out of the comfort zone and set goals that go beyond ourselves. We should face challenges with unyielding spirit and be creative and open to new things. We should analyze, sum up experience and get back on track in time when we meet setbacks or failures.
                        </p>
                    </div>
                    <div class="heyme-value-content-item">
                        <div class="heyme-value-content-item-icon">
                            <i class="iconfont">&#xe6f1;</i>
                        </div>
                        <h4>Fighting Together</h4>
                        <p>Having the managerial thinking, thinking about problems from the overall perspective of the company; having the ability to work and the charm recognized by subordinates or other colleagues; accepting and appreciating the company's values; being able to make suggestions for the company's development; having the spirit of ownership and take the initiative to safeguard the company's interests and reputation. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-content-box">
        <div class="container">
            <div class="heyme-bg">
                <h4>Group Background</h4>
                <p>Ningbo Solar Tech Import & Export Co., Ltd. is a wholly-ownedsubsidiary of Winpex Group (one of the largest export enterprises in Ningbo). Ningbo Winpex group was established in 2003, with a registered capital of 100 million yuan, with a 20,000-square-meter office space and a 6,000-square-meter specialized product display center. It owns 8 subsidiaries and has branches in the United States and the United Kingdom. The core business of Winpex is exporting the daily necessities. At same time, Winpex expands the related field, optimizes product structure, and enhances service capabilities. Winpex has developed into a set of a diversified industrial cluster and focus on 'self-operated export, foreign trade incubation, manufacturing, cross-border e-commerce, and supply chain management'. 
                </p>
                <p>Winpex takes "fight for the dream" as our core values, and always adheres to the spirit of "pursuing excellence, undertaking responsibilities and staying positive ". We value the acquisition and the training of talents and have built a transparent promotion system. 
                Winpex encourages “healthy culture” and “building strong body and mind”. We always maintain industry-leading professional capabilities, customer reputation, innovation efficiency, and performance levels, and pursue top market positions and competitive strengths.</p>
                <img src="/images/heyme-bg.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{{ end }}